@import url('https://fonts.googleapis.com/css?family=Roboto');

#header h1{
  margin-bottom: 0px;
}
#header h6{
  margin-top: 15px;
}
#header{
  color : white;
  padding: 10px;
  text-align: center;
  font-size: 150%;
}


#topnav a{
  float:left;
  color:  white;
  text-align: center;
  height: 1%;
  vertical-align: middle;
  width : 20%;
  padding: 1% 0% 1% 0%;
  margin-bottom: 1%;
  text-decoration: none;


}

#topnav a:hover{
	background: rgb(233, 98, 66);
}

#showcase {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

    .moreversions {
        width: 101%;
        margin-left: -20px;
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
            font-size: 24px;
          color: white;
          background-color: "#0F1315";
    }

  /* The actual popup */
  .moreversions .moreversionstext {
    visibility: hidden;
    width: 100%;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  /* Popup arrow */
  .moreversions .moreversionstext::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .moreversions .show {
    visibility: visible;
    -webkit-animation: fadeIn 0s;
    animation: fadeIn 0s;
  }

.vertical-menu {
    width: 100%; /* Set a width if you like */
}

.vertical-menu a.button {
    background-color: rgb(41, 49, 53); /* Grey background color */
    color: grey; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a.button:hover {
    background-color: rgb(61, 69, 73); /* Dark grey background on mouse-over */
    color: white;
}

.vertical-menu a.button.active {
    background-color: rgb(61, 69, 73); /* Add a green color to the "active/current" link */
    color: white;
}

.cleanlist {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.game {
	margin: auto;
	width: 60%;
	text-align: center;
	padding: 10px;
    background: #0f1315;
	margin-bottom: 20px;
}

.game .gametitle{
	size: 60%;
}

.game .image{
	width: 100%;
}

.game .gamedescription{
	size: 20%;
	margin-bottom: 20px;
}

.video {
	margin: auto;
	width: 60%;
	text-align: center;
	padding: 10px;
    background: #0f1315;
	margin-bottom: 20px;
}

.video .videotitle{
	size: 60%;
}

.pop {
	text-align: center;
	padding: 10px;
    background: #0f1315;
	margin-bottom: 20px;
}

.pop .poptitle{
	size: 60%;
}

.pop .image{
	width: 100%;
}

.pop .popdescription{
	size: 20%;
	margin-bottom: 20px;
}

#output {
		font-family: monospace;
}

html {
    overflow-y: visible;
    overflow-x: visible;
	font-family: Roboto;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    overflow-y: visible;
    background: #151D21;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

a {
    text-decoration: none;
    color: lightblue;
}

a:hover {
    color: #ff7a7a;
}

header .logo a {
    background-image: url("logo.png");
    background-size: 90px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    width: 111px;
    text-indent: -999999px;
    position: relative;
    top: -15px;
}

section header {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 20px;
}

.games {
    margin-top: 20px;
}

section {
    text-align: center;
    padding: 8%;
}

section nav {
    font-size: 36px;
    line-height: 55px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

section .mybutton {
    font-size: 24px;
    color: white;
    background: rgb(216, 69, 39);
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}

.features {
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -90px;
}

.features figure {
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 300px;
}

.features figure img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

figure img:hover {
    filter: brightness(0.7);
}

figure figcaption {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 100px;
}

figure figcaption a:hover {
    color: gray;
}

section .mybutton:hover {
    background: rgb(233, 98, 66);
    margin-top: 29px;
}

.par {
    margin-top: 500px;
    height: 650px;
}

footer {
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}

@media screen and (max-width: 1140px) {
    section nav {
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .features {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -40px;
    }

    .features figure img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    figure figcaption {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 760px) {
    .features {
        display: block;
    }

    section header {
        font-size: 42px;
    }

    .games {
        margin-top: 50px;
    }

    .features figure:first-child {
        padding-top: 100px;
    }

    section nav {
        font-size: 16px;
        line-height: 36px;
    }

    footer {
        font-size: 10px;
    }
    header .logo a {
        height: 50px;
        width: 60px;
        background-size: 50px;
    }

}

@media screen and (max-width: 600px) {

    section nav {
        font-size: 14px;
        line-height: 26px;
    }

    section .mybutton {
        font-size: 12px;
    }

    section .mybutton:hover {
        background: white;
        font-size: 14px;
        margin-top: 29px;
    }
}
